.announcements {
    margin: 90px auto 0;
    padding: 30px 0 0;
}

.announcements-slide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.announcements-img {
    object-fit: cover;
}

.splide__pagination {
    position: inherit;
    margin: 16px 0 0;
}

.splide__pagination__page {
    width: 12px;
    height: 12px;
    background-color: #031944;
    border-radius: 50%;
    margin: 16px 6px 0;
}

.splide__pagination__page.is-active {
    background-color: #4287f5;
}

@media (max-width: 767px) {
    .splide__track {
        height: 200px;
    }
}

.pray {
    padding: 50px 0 0;
}

.pray-button_container {
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .pray-button_container {
        font-size: 16px;
    }
}

.preaching {
    padding: 50px 0 0;
}

.preaching-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1244px;
    margin: 0 auto;
}

.preaching-content {
    margin: 0 0 0 16px;
}

.preaching-video {
    width: 560px;
    height: 315px;
}

.preaching-text {
    font-size: 22px;
}

@media (max-width: 767px) {
    .preaching-container {
        flex-direction: column;
    }

    .preaching-content {
        margin: 0;
    }

    .preaching-video {
        width: 340px;
        height: 190px;
    }

    .preaching-text {
        font-size: 16px;
        text-align: center;
    }
}

.testimonies {
    padding: 50px 0;
}

.testimonies-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonies-img {
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
}

.testimonies-card {
    box-shadow: 0 2px 4px rgba(51, 153, 255, 0.4);
    border-radius: 12px;
    max-width: 285px;
    width: 100%;
    height: auto;
    max-height: 609px;
    padding: 20px 12px;
    box-sizing: border-box;
    margin: 0 6px 6px;
}

.testimonies-title {
    margin: 6px 0 0;
    font-size: 18px;
}

.testimonies-date {
    margin: 6px 0 0;
    font-size: 10px;
}

.testimonies-text {
    margin: 16px 0 0;
    font-size: 14px;
    text-align: justify;
}
